<div class="container">
    <p>Retrouvez le total des médailles olympiques par pays dans l'Histoire des JO  !!</p>
</div>

<div class="container">	Medals per Country</div>

<div class="container1">Number of countries {{ totalOlympics }}</div>

<div class="container1">Number of JO's {{ totalJOs }}</div>

<div class="card flex justify-content-center">
	<p-chart type="pie" [data]="dataChart" [options]="options" [responsive]="true" (onDataSelect)="test($event)"/>
</div>
 
<a routerLink="details">Détails pour tous les pays</a>