<div class="container0">
    <p>Retrouvez les médailles olympiques de chaque pays  !!</p>
</div>

<div class="container1">Medals per Country</div>

<div class="container2">
    <div class="items">Number of countries {{ totalOlympics }}</div>
    <div class="items">Number of JO's {{ totalJOs }}</div>
</div>

<div class="card flex justify-content-center">
	<p-chart type="pie" [data]="dataChart" [options]="options" [responsive]="true" (onDataSelect)="test($event)"/>
</div>
 
<a routerLink="details">Détails pour tous les pays</a>