.container0{
    display: flex;
    flex-basis: 2px;
    justify-content: center;
    background-color: #ffffff;
    font-family: Verdana;
    padding: 5px;
    }

.container1{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #04838f;
    color: #ffffff;
    font-weight: bold;
    font-family: Verdana;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    }

.container2{
    display: flex;
    flex-basis: 2px;
    justify-content: center;
    background-color: #ffffff;
    border-style: solid;
    border-color: #04838f;
    text-align: center;
    font-family: Verdana;
    padding: 5px;
    }

.items{
    display: flex;
    flex-basis: 2px;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    font-family: Verdana;
    padding: 5px;
        }